{% extends 'base.html' %}
{% load material_form %}

{% block title %}
Password change
{% endblock %}

{% block content %}

<h2>Password change</h2>

<p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">
{% csrf_token %}
{% form form=form %}{% endform %}

<button type="submit" name="_submit" class="waves-effect waves-light btn orange accent-2">Change my password</button>
</form>


{% endblock %}
