body{
    background: #e5e3ea;
}

.card .card-content, .card .card-action{
    padding: 6px 10px;
}

.card .card-action{
    color: #ccc;
}


.book-author, .book-title{
    font-size: 0.8em;
}

.book-title{
    font-weight: bold;
}

img.book-cover{
    height: 270px;
    width: 100%;
}

.card .card-image{
    text-align: center;
    overflow: hidden;
}

.card-image i.large{
    height: 270px;
    font-size: 180px;
    line-height: 270px;
}

.card-action .book-edit, .card-action .book-listings{
    float: right;
}

#booklist .card .card-action .book-edit a{
    margin: 0;
}

#book-remove{
    margin-top: 2em;
}

ul.rater{
    margin-right: 1em;
}

ul.rater, ul.rater>li{
    display: inline;
}

ul.rater>li.selected{
    color: #ffab40;
}

ul.rater>li{
    cursor: pointer;
}

ul.rater>li.hover{
    color: #ffd8a6;
}
