<div class="col s6 m4 l2">
    <div class="card">
        <div class="card-image">
            {% if book.cover %}
            <img class="book-cover" src="{{ book.cover }}">
            {% else %}
            <i class="material-icons large">book</i>
            {% endif %}
        </div>
        <div class="card-content">
            <div class="book-author">{{ book.author|truncatechars:30 }}</div>
            <div class="book-title">{{ book.title|truncatechars:30 }}</div>
        </div>
        <div class="card-action">
            <span class="book-listings">
                <i class="material-icons tiny">library_add</i>
                {{ book.number_of_listings }}
            </span>
        </div>
  </div>
</div>
