<div class="col s6 m4 l2">
    <div class="card">
        <div class="card-image">
            {% if cover %}
            <img class="book-cover" src="{{ cover }}">
            {% else %}
            <i class="material-icons large">book</i>
            {% endif %}
        </div>
        <div class="card-content">
            <div class="book-author">{{ author|truncatechars:30 }}</div>
            <div class="book-title">{{ title|truncatechars:30 }}</div>
        </div>
        <div class="card-action">
            {% block footer %}{% endblock %}
        </div>
  </div>
</div>
