{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookr | {% block title %}{% endblock %}</title>
    {% include 'material/includes/material_css.html' %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
    <nav class="deep-purple">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">
                <i class="material-icons">library_books</i>
                <strong>Bookr</strong>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    {% include 'material/includes/material_js.html' %}
</body>
</html>
