{% extends 'base.html' %}
{% load material_form %}

{% block title %}Update your book{% endblock %}


{% block content %}
<h2>Update your book</h2>

<p>Please note, that you can update a book only for yourself. The same book in other user's list won't be affected.</p>

<form method="post" action="">
    {% csrf_token %}
    {% form form=form %}{% endform %}

    <button type="submit" name="_submit" class="btn">
        <i class="material-icons left">edit</i>
        Update book
    </button>
</form>

<div id="book-remove">
    <p>You don't want to keep this book on your list?</p>
    <a class="waves-effect waves-light btn red darken-4" href="{% url 'books:book_list_delete' form.instance.pk %}">
        <i class="material-icons left">remove</i>
        Remove book from your list
    </a>
</div>


{% endblock %}
