{% extends 'base.html' %}
{% load book_tags %}
{% block title %}My books{% endblock %}
{% block content %}
<h2>My books</h2>

<a class="waves-effect waves-light btn-large" href="{% url 'books:book_list_add' %}">
    <i class="material-icons left">library_add</i>
    Add a book to your list
</a>

{% with total=mybooks.count %}
<h4>You have {{ total }} book{{ total|pluralize }} on your list:</h4>
{% endwith %}

<div class="row">
    {% for book_listed in mybooks %}
    {% booklist_card book_listed %}
    {% empty %}
    <p>No books on your list yet.</p>
    {% endfor %}
</div>

{% endblock %}
