{% extends 'base.html' %}
{% load book_tags %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Dashboard</h2>

<h3>Highest rated books</h3>
{% for book in top_books %}
<div>{{ book }}</div>
{% empty %}
<p>No books rated yet.</p>
{% endfor %}

<h3>Most read books</h3>
<div class="row">
    {% for book in most_read_books %}
    {% book_card book %}
    {% empty %}
    <p>No books read yet.</p>
    {% endfor %}
</div>


<h3>Recently added books</h3>
<div class="row">
    {% for book in recent_books %}
    {% book_card book %}
    {% empty %}
    <p>No books added yet.</p>
    {% endfor %}
</div>
{% endblock %}
